// client/src/styles/_mixins.scss

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin button-styles($bg-color, $color: #fff) {
    background-color: $bg-color;
    color: $color;
    border: none;
    padding: $spacing-unit;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: darken($bg-color, 10%);
    }
  }
  
  @mixin box-shadow($x: 0px, $y: 2px, $blur: 5px, $color: rgba(0, 0, 0, 0.1)) {
    box-shadow: $x $y $blur $color;
  }
  