// client/src/styles/_variables.scss

// Colores
$primary-color: #333;
$secondary-color: #f4f4f4;
$background-color: #f9f9f9;
$text-color: #333;
$border-color: #ddd;

// Espaciado
$spacing-unit: 10px;

// Tipografía
$font-family: 'Arial, sans-serif';
$font-size-base: 16px;
$font-size-large: 20px;
$font-size-small: 14px;

// Z-index
$z-index-header: 1000;
